.wrapper {
  min-height: 80vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonFront {
  text-decoration: none;
  color: white;
}

.compWrapper {
  text-decoration: none;
  color: black;
}

.loading {
  text-align: center;
  color: red;
  font-size: 2rem;
}

.logo {
  width: 50px;
  height: 30px;
}
